<div class="shadow-sm bg-dark">
    <nav class="navbar navbar-expand-md">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-light" href="https://github.com/AnimeshShukla0209" target="_blank" class="a-green surname">ANIMESH SHUKLA</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="active" class="nav-link text-secondary a-green">
                        <span class="nav-number"></span> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="active" class="nav-link text-secondary a-green">
                        <span class="nav-number"></span> About
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/skills" routerLinkActive="active" class="nav-link text-secondary a-green">
                        <span class="nav-number"></span> Education
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/portfolio" routerLinkActive="active" class="nav-link text-secondary a-green">
                        <span class="nav-number"></span> Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="active" class="nav-link text-secondary a-green">
                        <span class="nav-number"></span> Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
