<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Advanced <strong><span class="default-highlight">English</span></strong></p>
        <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2021 - 2025 - <a href="https://www.jecjabalpur.ac.in/" class="default-highlight">JABALPUR ENGINEERING COLLEGE  | </a><strong><span class="default-highlight">Information Systems</span></strong> - Bachelor's Degree</p>
        <p class="default-highlight">CGPA - 7.88/10</p>
        <ul>
          <li>Final Project | Thermal temperature Based Fan</li>
          <li>Minor Project | PWM based Light</li>
        </ul>
        <p>2020 - 2021 - <a href="https://spsbhopal.ac.in/" class="default-highlight">SAGAR PUBLIC SCHOOL  | </a><strong><span class="default-highlight">STEM </span></strong> - Senior Secondary Certificate</p>
        <p class="default-highlight">Percentage - 95.4 / 100</p>  
        <ul>
            <li></li>
          </ul>
        <p>2014 - UFSC - <strong><span class="default-highlight">International Relations</span></strong> - Bachelor's Degree</p>
        <ul>
          <li>Final Project | The TOR Network and International Relations</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Technical</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Duke University (Coursera) - <strong><span class="default-highlight">Data Science Math Skills</span></strong> - January/2024</p>
        <ul>
          <li>
            Covered essential mathematics required for data science including linear algebra, probability, statistics, and calculus to support machine learning and analytical reasoning.
          </li>
        </ul>

        <p>Google (Coursera) - <strong><span class="default-highlight">Data Analytics</span></strong> - Feburary/2024</p>
        <ul>
          <li>
            Learned data cleaning, analysis, visualization, and how to use tools like spreadsheets, SQL, Tableau, and R to draw insights and present findings.
          </li>
        </ul>

        <p>DeepLearning.AI (Coursera) - <strong><span class="default-highlight">Neural Networks and Deep Learning</span></strong> - March/2024</p>
        <ul>
          <li>
            Built foundational understanding of deep learning and neural networks, including forward and backward propagation, activation functions, and applied models using Python and TensorFlow.
          </li>
        </ul>

        <p>IIT JODHPUR - <strong><span class="default-highlight">Cyber Security Certificate Program</span></strong> - Oct/2023-January/2024</p>
        <ul>
          <li>
            Focused on principles of cybersecurity, ethical hacking, encryption techniques, threat detection, and secure system design aligned with industry practices.
          </li>
        </ul>

        <p>DigiToad Technologies - <strong><span class="default-highlight">LabView Core</span></strong> - July/2024</p>
        <ul>
          <li>
            Learned core LabVIEW programming concepts for virtual instrumentation, data acquisition, signal processing, and control systems development.
          </li>
        </ul>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-hibernate-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-flask-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-poetry-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-selenium-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-playwright-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kubernetes-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-jira-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-intellij-plain colored"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>