<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Animesh Shukla, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I’m a passionate Full Stack Developer with a strong foundation in Angular, Node.js, and MongoDB. With a background in development and hands-on experience in both frontend and backend development, I enjoy building responsive, efficient, and user-friendly web applications.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  